out/
checkpoint/

# Jupyter
.local
.ipython
.ipynb_checkpoints
.jupyter

# docker mounting
.bash_history

# scala
*.log
project/
.bsp/
target/
lib_managed/
src_managed/
project/boot/
.idea
*.iml
*.swp
.DS_Store
/tmp
/metastore_db/
derby.log
